.user-images {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 20px;
    
    }
    .address{
        margin-top: 10px;
    }
    .user-cart{
        margin: 10px;
        border: 1px solid rgb(236, 218, 221);
        box-shadow: 0px 0px 6px 2px lightgray;
        padding: 10px;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        transition: all .2s linear;
    }
    .user-cart:hover{
        background-color: #224a54;
        color: white;

    }
    .fa-icon span i{
        margin: 15px;
        font-size: 50px;
        color: rgb(5, 85, 177);
    }
    .fa-icon span i:hover{
        color: white;
    }
    